apiVersion: v1
baseDomain: {{ baseDomain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ metadataName }}
networking:
  clusterNetwork:
    - cidr: {{ clusterNetworkCIDR }}
      hostPrefix: {{ hostPrefix }}
  serviceNetwork:
    - {{ serviceNetwork }}
  networkType: OVNKubernetes
platform:
  none: {}
fips: false
pullSecret: '{{ pullSecret | replace("\n", "") | replace(" ", "") }}'
sshKey: '{{ sshKey | trim }}'
{% if imageContentSources %}
imageContentSources:
{{ imageContentSources | indent(2) }}
{% endif %}
{% if proxy_enabled and httpProxy and httpsProxy %}
proxy:
  httpProxy: {{ httpProxy }}
  httpsProxy: {{ httpsProxy }}
  {% if noProxy %}noProxy: {{ noProxy }}{% endif %}
{% endif %}
