apiVersion: v1
baseDomain: {{ baseDomain }}
metadata:
  name: {{ metadataName }}
networking:
  clusterNetwork:
    - cidr: {{ clusterNetworkCIDR }}
      hostPrefix: {{ hostPrefix }}
  serviceNetwork:
    - {{ serviceNetwork }}
  networkType: OVNKubernetes
platform:
  none: {}
fips: false
pullSecret: '{{ pullSecret | replace("\n", "") }}'
sshKey: '{{ sshKey | trim }}'
{% if imageContentSources %}
imageContentSources:
{{ imageContentSources | indent(2) }}
{% endif %}
{% if proxy_enabled %}
proxy:
  httpProxy: {{ httpProxy }}
  httpsProxy: {{ httpsProxy }}
  noProxy: {{ noProxy }}
{% endif %}
