kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
mirror:
  platform:
    channels:
    - name: stable-{{ majorVersion }}
      minVersion: {{ minVersion }}
      maxVersion: {{ maxVersion }}
    graph: true
{% if operators %}
  operators:
  {% for catalog_item in operators %}
  - catalog: {{ catalog_item.catalog }}
    packages:
    {% for package in catalog_item.packages %}
    - name: {{ package.name }}
    {% endfor %}
  {% endfor %}
{% endif %}
  additionalImages:
  - name: registry.redhat.io/ubi9/ubi:latest
  - name: registry.redhat.io/rhel9/nginx-120:latest
  - name: registry.redhat.io/rhel9/httpd-24:latest
  - name: registry.redhat.io/rhel9/postgresql-15:latest
  - name: registry.redhat.io/rhel9/mysql-80:latest
  - name: registry.redhat.io/rhel9/nodejs-18:latest
  - name: registry.redhat.io/rhel9/python-39:latest
