apiVersion: v1
baseDomain: {{ baseDomain }}
metadata:
  name: {{ metadataName }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: 3
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
networking:
  networkType: OVNKubernetes
  clusterNetwork:
  - cidr: {{ clusterNetworkCIDR }}
    hostPrefix: {{ hostPrefix }}
  machineNetwork:
  - cidr: {{ machineNetworkCIDR }}
  serviceNetwork:
  - {{ serviceNetwork }}
platform:
  none: {}
fips: false
{% if imageContentSources %}
imageContentSources:
{% for item in imageContentSources %}
- mirrors:
  {% for mirror in item.mirrors %}
  - {{ mirror }}
  {% endfor %}
  source: {{ item.source }}
{% endfor %}
{% endif %}
pullSecret: |
{{ pullSecret | indent(2) }}
sshKey: '{{ sshKey | trim }}'
{% if additionalTrustBundle %}
additionalTrustBundle: |
{{ additionalTrustBundle | indent(2) }}
{% endif %}
